* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    margin-top: 10%;
    margin-bottom: 10%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    height: 497px;
    width: 320px;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

div {
    display: block;
}

img {
    height: 289px;
    width: 289px;
    margin-top: 15px;
    border-radius: 10px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3,
p {
    font-family: 'Outfit', sans-serif;
}

p {
    font-size: 15px;
    color: hsl(209, 17%, 53%);
    margin: 20px;
}